{% extends 'picker/base.html' %}

{% block content %}
<h1>
    Credit
</h1>

<h3>
    만든 사람
</h3>
<p>
    YMGYM<br/>
    <a href="https://github.com/YMGYM">github</a>
    <a href="https://www.notion.so/ymgym/Project-list-a5cbe7fcef6742be8452cea7b58e4ceb">Notion</a>
</p>
<hr>

<h3>
    More Info
</h3>
<hr>
<p>
    개발일지
    <a href="https://www.notion.so/ymgym/f4d8f6de0a0e415ebe2eee5462f01983?v=5ccd482ffc0f41b0ad452e984a3f87a7">Notion 페이지</a>
    <br />
    소스 코드
    <a href="https://github.com/YMGYM/rocopicker_django">Github</a>
</p>

<h3>
    Special Thanks
</h3>
<hr>
<p>
    한다 로코
</p>
{% endblock content %}


