{% extends 'picker/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 align-center">
        <img src="{% static 'images/signature.png' %}" width="100px" height="100px" class="margintop20">
        <h1 class="display-4 cookieBold">크레딧</h1>
    </div>
</div>
<hr />
<div class="align-center">

<h3 class="cookieBold">
    만든 사람
</h3>
<p class="GM">
    YMGYM
    <a href="https://github.com/YMGYM" class="marginleftright10"><i class="fab fa-github"></i> github</a>
    <a href="https://www.notion.so/ymgym/Project-list-a5cbe7fcef6742be8452cea7b58e4ceb"><i class="fas fa-book-open"></i> Notion</a>
</p>


<h3 class="cookieBold margintop50">
    기타 정보
</h3>
<hr>
<p>
    개발일지
    <a href="https://www.notion.so/ymgym/f4d8f6de0a0e415ebe2eee5462f01983?v=5ccd482ffc0f41b0ad452e984a3f87a7" class="marginleftright10"><i class="fas fa-book-open"></i> Notion</a>
    <br />
    소스 코드
    <a href="https://github.com/YMGYM/rocopicker_django" class="marginleftright10"><i class="fab fa-github"></i> Github</a>
    <br />
    자료 참고
    <a href="https://seesaawiki.jp/million_roco/" class="marginleftright10">로코 위키</a>
    
</p>

<h3 class='cookieBold margintop50'>
    Special Thanks
</h3>
<hr>
<p>
    한다 로코
    <a href="https://seesaawiki.jp/million_roco/d/%A5%D7%A5%ED%A5%D5%A5%A3%A1%BC%A5%EB" class="marginleftright10">로코 위키</a>
</p>
    
<hr />
    <p>
        RocoPicker made by YMGYM<br /> 20.01 ~ 20.02
    </p>
</div>
{% endblock content %}


