{% extends 'picker/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12 align-center">
        <img src="{% static 'images/signature.png' %}" width="100px" height="100px" class="margintop20">
        <h1 class="display-4 yutobig">스타트!</h1>
    </div>
</div>
<hr>

<!-- 로딩바------------------------------------- -->

<div class="loadingbox display-none" id="load">
    <div class="row">
        <div class="col-md-12 align-center">
            <img src="{% static 'images/signature.png' %}" width="100px" height="100px" class="margintop20">
            <h1 class="display-4 yutobig">처리중</h1>
        </div>
    </div>
    
    <div class='row'>
        <div class='align-center'>
            <div class="spinner-border text-primary margintopauto" role="status">
             <span class="sr-only" >Loading...</span>
            </div>
        </div>
    </div>
        
    <br />
    
    <div class='align-center'>
        <div class='row'>
            <div class='col-4'>
                <img src="{% static 'images/face3.png' %}" align="right" width="100px" height="100px">
            </div>

            <div class='col-8 margintopauto'>
                <p class="yuto " align="left">처리 중이에요! <br /> 잠시만 기다려 주세요!</p>
                <p id="status" class="yuto" align="left"> </p>
            </div>  
        </div>
    </div>
</div>


<!-- --------------------------------------------- -->

<div class="row">
    <div class="col-sm-12 align-center">
        <form action="{% url 'resultPage' %}" method="POST" onsubmit="return triggerForm();" id="scoreForm" class="align-center" enctype="multipart/form-data">
          {% csrf_token %}
            <p class="yuto">
                가지고 있는 워크-오브-아트를 아래 폼에 넣어 주시고 <br />서브밋 해 주세요!
            </p>
            <input type="hidden" name="score" id="scoreInput"  value=""/>
            <input type="hidden" name="imageForm" id="imageForm"  value=""/>
            <input type="hidden" name="score2" id="score2"  value=""/>
        </form>
    </div>
</div>

<div class="row">
    <div class='col-sm-12 align-center'>
        
        <canvas id="myCanvas" class="canvas" width="0" height="0"></canvas><br />
        <input type="file" name="image" class="margintop20" id="imageinput">

        <input type="submit" class="btn btn-primary" onclick="triggerForm()" value="서브밋!">
    </div>
</div>



<h1 class="margintop50 yutobig">
    샘플 이미지
</h1>
<hr />


<div class="row align-center">

        <div class="col-md-6">
            <div class="card align-center" style="width: 18rem;">
              <img src="{% static 'images/rocofull.png' %}" class="card-img-top img-fluid" id="sample1" alt="사용자가 전송한 이미지">
              <div class="card-body">
                   <input type=submit class="btn btn-outline-secondary" onclick="sample1();" value="이 이미지로 서브밋" />
              </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card align-center" style="width: 18rem;">
              <img src="{% static 'images/rocofull2.png' %}" class="card-img-top img-fluid" id="sample2" alt="사용자가 전송한 이미지">
              <div class="card-body">
                    <input type=submit class="btn btn-outline-secondary" onclick="sample2();" value="이 이미지로 서브밋" />
              </div>
            </div>
        </div>

</div>
<h1 class="margintop50 yutobig">
    주의 및 권장사항
</h1>
<hr />

<ul class="yuto">
    <li>로코픽커는 이미지를 포함한 사용자의 개인정보를 서버에 저장하지 않습니다.</li>
    <li>전송된 이미지는 서버에서 분석 후 결과 페이지를 전송하는 동시에 삭제됩니다.</li>
    <li>로코픽커의 현재 정확도는 약 75% 정도입니다.</li>
    <li>높은 분류 정확도를 위해선 다른 사물이 없고, 공식 이미지가 권장됩니다.</li>
    <li>이 외의 이미지들은 올바르게 분류되지 못할 수 있습니다.</li>
    <li>분류는 Tensorflow JS 를 사용합니다.</li>
    <li>작동하지 않는 경우, Javascript를 사용 설정해 주세요.</li>
</ul>


<script>
    
    function triggerForm(){
        var img = document.getElementById('myCanvas');
        predictCall();
    }
    
    function sample1(){
        var canvas = document.getElementById('myCanvas');
        context = canvas.getContext('2d');

        make_base();

        function make_base(){
          base_image = new Image();
          imsrc = document.getElementById('sample1');
          canvas.width = 640;
          canvas.height = 832;
          context.drawImage(imsrc, 0,0);
        }
        predictCall();
    }
    
    function sample2(){
        var canvas = document.getElementById('myCanvas');
        context = canvas.getContext('2d');

        make_base();

        function make_base(){
          base_image = new Image();
          imsrc = document.getElementById('sample2');
          canvas.width = 360;
          canvas.height = 450;
          context.drawImage(imsrc, 0,0);
        }
        predictCall();
    }
    
    function showSpin(){
        document.getElementById("load").classList.remove("display-none");;
    }
    
    
    
    document.getElementById('imageinput').onchange = function(e) {
      if(this.files[0].size > 1572864)
        {
            alert("사이즈는 1.5MB 미만으로 서브밋 해 주세요! 에러가 날 수 있어요!");
            return;
        }
      var img = new Image();
      img.onload = draw;
      img.onerror = failed;
      img.src = URL.createObjectURL(this.files[0]);
    };

    function draw() {
      var canvas = document.getElementById('myCanvas');
      canvas.width = this.width;
      canvas.height = this.height;
      var ctx = canvas.getContext('2d');
      ctx.drawImage(this, 0,0);


    }
    function failed() {
      console.error("이미지 에러. 다른 이미지를 입력해주세요");
    }
        
    

        async function predictCall(){
            try {
                showSpin();
                score = await predict(); 
                // redirectPost(score);
                
            } catch (err) {
                console.error('에러!');
                // window.location.replace("{% url 'errorPage' %}");
                console.error(err);
            }
        }
        
        async function predict() {
            var img = document.getElementById('myCanvas');
            
            console.log(img);
            
            
            console.log('모델을 불러오는 중');
            document.getElementById("status").innerHTML = "모델을 불러오고 있어요(조금 걸려요!)";
            
            const model = await tf.loadLayersModel("https://raw.githubusercontent.com/YMGYM/rocopicker_django/master/model/rocopickerjs/model.json")
            console.log('모델 로드 완료');
            document.getElementById("status").innerHTML = "모델 로드를 완료했어요.";
            
            const piximg = tf.browser.fromPixels(img);
            console.log('이미지 로드 완료');
            document.getElementById("status").innerHTML = "이미지 로드를 완료했어요.";
            
            regulizer = tf.scalar(255.0);
            regulized_img = tf.div(piximg, regulizer);
            console.log('이미지 정규화 완료');
            console.log(regulized_img.shape)
            document.getElementById("status").innerHTML = "이미지 정규화를 완료했어요.";
            
            const expdim = regulized_img.expandDims(0);
            console.log('이미지를 4차원 텐서로 변환');
           
        
            const resized = tf.image.resizeBilinear(expdim,[299,299]);
            console.log('이미지 크기 변환 완료');
            
            
            console.log('예측 중');
            document.getElementById("status").innerHTML = "예측 중이에요!";
            var prediction = await model.predict(resized).data();
            console.log('예측 완료');
            
            const score = prediction[0];
            document.getElementById("score2").setAttribute("value", prediction[1]);
            
            return score;
            
            
            
            
            
        }

        
        function redirectPost(score) {
            document.getElementById("scoreInput").setAttribute("value", score);
            var canvas = document.getElementById('myCanvas');
            var imgData = canvas.toDataURL();
            
            document.getElementById("imageForm").setAttribute("value", imgData);
            document.getElementById("scoreForm").submit();
        }
    
</script>



{% endblock content %}

