{% extends 'picker/base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md-12 align-center">
        <img src="{% static 'images/signature.png' %}" width="100px" height="100px" class="margintop20">
        <h1 class="display-4 yutobig">로코픽커</h1>
    </div>
</div>

<div class="row align-center margintop20">
    <div class="col-md-3 align-center">
        <img src="{% static 'images/face4.png' %}" width="100px" height="100px">
    </div>
    <div class="col-md-9 margintopauto">
        <p class="lead yuto">'로코픽커'는 아이돌 마스터 밀리언 라이브의 캐릭터인 '한다 로코' 를 캡쳐 해 내는 <br /> 마블러스한 AI 모델이에요!<br />여려분이 가진 워크-오브-아트를 보내 주면 그 사진에 로코가 익지스턴스 한지<br /> 프레젠테이션 할 수 있어요!</p>
    </div>
</div>

<hr class="my-4">

    <div class="row ">
        <div class="col-md-12 align-center">
            <h3 class="yutobig">
                지금 커밋하기!
            </h3>
        </div>
    </div>

    <div class="row">
        <div class='col-6 col-lg-6 align-center'>
            <a class="btn btn-primary btn-lg yuto" href="{% url 'inputPage' %}" role="button">테스트</a> 
        </div>
        <div class='col-6 col-lg-6 align-center'>
            <a class="btn btn-primary btn-lg yuto" href="{% url 'creditPage' %}" role="button">크레딧</a>
        </div>
    </div>


<div class="no-scroll">
    <img src="{% static 'images/CI6.png' %}" class="background">
</div>



{% endblock content %}
