{% extends 'picker/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12 align-center">
        <img src="{% static 'images/signature.png' %}" width="100px" height="100px" class="margintop20">
        <h1 class="display-4 yutobig">리스폰스</h1>
    </div>
</div>
<hr />



<div class="row">
    <div class="align-center">
        <img src="{{image}}" width="299px" height="299px"/>
    </div>
        
</div>

<div class="row margintop20">
    <div class="col-sm-12 col-md-3 align-center">
        <img src="{% static 'images/face1.png' %}" width="100px" height="100px" class="">
    </div>
    <div class="col-sm-12 col-md-9 align-center">
        <p class="yutobig">
            로코일 확률은 {{percentage}}% 이에요!<br />
            {{resultMsg}}
        </p>
    </div>
</div>

<div class='row'>
    <div class='align-center'>
     
        <a class="btn btn-primary" href="{% url 'inputPage' %}">
        다시하기
        </a>
           
    </div>
</div>
<hr/>
<div class='row margintop20'>
    <div class='align-center'>
     
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    상세 정보 보기
    </a>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
          Softmax 결과값([Roco, Not_Roco]) : {{ result }} <br />
          <!-- XCeption 모델의 CAM : <br /> -->
          현재 적용 모델 : RocoPicker2JS <br />
    </div>
    </div>
           
    </div>
</div>


{% endblock content %}

<script>

</script>
